* {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  min-width: 375px;
  min-height: 667px;
}

body {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
}
legend {
  font-size: 1em;
  font-family: 'Merriweather', serif;
  color: white;
  padding: .5em;
  font-weight: bolder;
  background-color: #0074d9;
  opacity: .85;
}
form {
  display: inline-block;
  vertical-align: middle;
  margin: 0px auto;
  padding: 20px;
}
strong {
  font-weight: bold;
}
a {
  text-decoration: none;
  color: inherit;
}
